///////////// GENERAL ////////////////

.container {
	padding-left: 6em;
	padding-right: 6em;

	@include media-breakpoint-down(md) {
			padding-left: 1em;
			padding-right: 1em;
		}
}

section {
	padding-top: 4em;
	padding-bottom: 5em;
		@include media-breakpoint-down(md) {
			padding-top: 2em;
			padding-bottom: 2em;
		}
}

.title {
	margin-bottom: 1em;
}

//////////// INTRO ////////////////

// .intro {
// 	padding-top: 5vh;
// 	padding-bottom: 5vh;
// }

.about-title {
	background-image: url(../img/2.jpg);
	background-size: cover;
	background-position: center;
	min-height: 45vw;
}

.about-text {
	padding-top: 6vh;
	padding-bottom: 6vh;
}

///////////// PROJECTS /////////////////

.projects {
	// padding-top: 1em;
	// padding-bottom: 2em;
	background-color: $gray-lightest;
}

.project-link { 

	&::after {
		content: '\f054';	
		display: inline-block;
		font-family: FontAwesome;
		margin-left: 0.3em;
	}

}

.project-title {
	font-weight: 400;
}

.project-item {
	border: 0px;
	border-radius: 0px;
	margin-left: 0.5em;
	margin-right: 0.5em;
	margin-bottom: 2.5em;

	img {
		border-radius: 0px;
	}
}

.project-btn {
	margin-top: 1em;
}


.project-footer-info { 
	font-size: 12px;

	&::before {
		content: '\f133';	
		display: inline-block;
		font-family: FontAwesome;
		margin-right: 0.3em;
	}

}

.projects-btn {
	margin-top: 1em;
}

///// TEXTS //////

.my-texts {
	// padding-bottom: 1.5em;
	// padding-top: 1.5em;
	background-color: $gray-lighter;
}

.clickable-card-block {
	display: flex;
	flex-direction: column;
	text-align: start;
}

.clickable-card-title h4{
	color: $brand-primary;
	font-weight: 400;
}

.clickable-card {
  min-height: 400px;
  max-height: 400px;
  margin-bottom: 2em;
  border: 0px;
  border-radius: 0px;
}

.clickable-card a {
	text-decoration: none;
	color: $white;
}

.clickable-card:hover {
  cursor:pointer;
}
.overlay{
  display:none;
  text-align: center;
}

.clickable-card:hover .overlay {
  position:absolute;
  width:100%;
  height:100%;
	display: flex;
  flex-direction:column;
  justify-content:center;
}

.overlay:hover {
	background-color: $brand-secondary;
	-webkit-transition: background-color 0.4s ease-out;
  -moz-transition: background-color 0.4s ease-out;
  -o-transition: background-color 0.4s ease-out;
  transition: background-color 0.4s ease-out;
  opacity:0.95;
}

.overlay-content {
  font-size:3rem;

    &::before {
		content: '\f0f6';	
		display: inline-block;
		font-family: FontAwesome;
		color: $white;
	}
}


.texts-btn {
	margin-top: 0.5em;
}

///////// NEWSLETTER ///////////

.newsletter-container {
	h4 {
		color: $gray;
		margin-bottom: 1em;
	}

	background-color: $gray-lightest;
}

.form-control {
	@include media-breakpoint-down(md) {
	margin-bottom: 1em;
	}
}

























