.projects-section {
	background-color: $gray-lightest;
	margin-top: 1em;
	padding-top: 4em;

	.current-projects-title {
		color: $gray;
		border-bottom: 1px solid $gray;
		margin-bottom: 1em;
	}

	.past-projects {
		margin-top: 5em;
	}


	.past-projects-title {
		color: $gray;
		border-bottom: 1px solid $gray;
		margin-bottom: 1em;
	}

	.card-deck {
		margin-bottom: 2em;
	}

	.card {
		width: 80px;
		border: 0px;
		border-radius: 0px;
		img {
			border-radius: 0px;
		}
	}

	.card-title {
		color: $brand-primary;
		font-size: 15px;
		font-weight: 400;
	}

	.card-text {
		font-size: 1.2em;
		color: $black;
	}

	.card-footer {
		border: 0px;
	}
}

